@model DarsAsan.ViewModels.HomeIndexViewModel

@section Styles {
<link rel="stylesheet" href="/css/home-index.css">
}

<nav id="main-navbar" class="x2-mar-auto x2-wid-60">
    <h2 class="x2-mar-right-auto x2-wid-max-con">Logo</h2>
</nav>

<main id="main" class="x2-mar-auto x2-wid-60">
    <div id="announcement">
        <h2 class="x2-text-center">
            با درس‌آسان به آسانی موفق شوید.
        </h2>
    </div>
    <div id="sign-wrapper">
        <div id="signin-form" class="x2-wid-40 x2-mar-left-auto">
            <h3 class="x2-text-center mar-bot-1rem">ورود</h3>
            <form method="post" asp-action="signin">
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.In.SignInUsernameOrEmail)</div>
                        <div><input asp-for="In.SignInUsernameOrEmail"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.In.SignInPassword)</div>
                        <div><input asp-for="In.SignInPassword"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.In.RememberMe)</div>
                        <div class="checkbox"><input asp-for="In.RememberMe"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <button type="submit">ارسال</button>
                </div>
            </form>
        </div>
        <div id="signup-form" class="x2-wid-40 x2-mar-right-auto">
            <h3 class="x2-text-center mar-bot-1rem">ثبت نام</h3>
            <form method="post" asp-action="signup">
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.Username)</div>
                        <div><input asp-for="Up.Username"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.Email)</div>
                        <div><input asp-for="Up.Email"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.ConfirmEmail)</div>
                        <div><input asp-for="Up.ConfirmEmail"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.Password)</div>
                        <div><input asp-for="Up.Password"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.ConfirmPassword)</div>
                        <div><input asp-for="Up.ConfirmPassword"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.PhoneNumber)</div>
                        <div><input asp-for="Up.PhoneNumber"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <div>
                        <div>@Html.DisplayNameFor(model => model.Up.IsTeacher)</div>
                        <div class="checkbox"><input asp-for="Up.IsTeacher"></div>
                    </div>
                </div>
                <div class="x2-form-2-col">
                    <button type="submit">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
<script src="js/jquery.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/jquery.validate.unobtrusive.js"></script>
}